.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    box-sizing: border-box;
}

h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    background-color: bisque;
    height: 100vh;
    max-height: 756px;
    background-color: #f2f2f2;
}

.logo {
    width: 183px;
    height: 32px;
}

.logo_place_header {
    background-image: url('../images/logo_place_header.svg');
    position: absolute;
    top: 30px;
    margin-left: 68px;
}

.header__title {
    margin-left: 68px;
    width: 730px;
    line-height: 96px;
    font-size: 102px;
    z-index: 2;
}

.header__subtitle {
    position: absolute;
    bottom: 30px;
    margin-left: 68px;
    line-height: 25px;
    width: 388px;
    font-size: 18px;
}

.header__link {
    text-decoration: none;
    color: #2f80ed;
}

.header__main-illustration {
    background-image: url('../images/header-image.png');
    background-size: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 765px;
    height: 608px;
}

.header__square-pic {
    position: absolute;
    background-color: #2f80ed;
    right: 0;
    top: 64px;
    z-index: 0;
    width: 568px;
    height: 568px;
}

.description {
    margin-top: 100px;
}

.two-columns {
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: space-between;
}

.two-columns__brief {
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2f80ed;
}

.two-columns__main-text {
    width: 80%;
    min-width: 784px;
}

.two-columns__paragraph {
    line-height: 34px;
    font-size: 24px;
}

.second-paragraph-position {
    margin-top: 30px;
    margin-bottom: 30px;
}

.two-columns__span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: 700;
}

.digits {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
}

.section-title {
    margin: auto;
    line-height: 1.15;
    font-size: 60px;
    font-weight: 600;
}

.section-subtitle {
    margin: auto;
    margin-top: 20px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.table {
    margin: auto;
}

.table_place_digits {
    width: 1100px;
    padding-top: 60px;
    margin-bottom: 0;
}

.table__row {
    display: flex;
    justify-content: space-between;
}

.table__row_place_digits {
    margin: auto;
    margin-bottom: 60px;
}

.second-table-row-position {
    margin-top: 60px;
}

.table__cell_place_digits {
    width: 250px;
}

.table__heading {
    margin-bottom: 20px;
    line-height: 1.15;
    font-size: 18px;
    font-weight: 700;
}

.table__text {
    margin-top: 20px;
    line-height: 1.2;
    font-size: 18px;
}

.feynman {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #f2f2f2;
    min-height: 790px;
    z-index: 1;
}

.feynman__title {
    line-height: 1.15;
    font-size: 120px;
    font-weight: 700;
    width: 648px;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    z-index: 1;
}

.feynman__subtitle {
    line-height: 51px;
    font-size: 36px;
    font-weight: 500;
    margin: auto;
    margin-top: 70px;
    z-index: 1;
}

.feynman__link {
    position: absolute;
    right: 48px;
    top: 50%;
    line-height: 51px;
    font-size: 36px;
    text-decoration: none;
    color: #2f80ed;
}

.feynman__pic {
    width: 800px;
    position: absolute;
    bottom: 0;
    z-index: 0;
}

.kaufman {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #1f1f1f;
    color: #fff;
}

.section-title_place_kaufman {
    padding-top: 90px;
}

.table_place_kaufman {
    width: 1100px;
    margin-bottom: 90px;
    padding-top: 80px;
    z-index: 1;
}

.table__cell_place_kaufman {
    width: 200px;
    justify-content: space-around;
}

.table__heading {
    margin-bottom: 20px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: 600;
}

.table__text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}

.kaufman__triangle {
    background-image: url('../images/kaufman-triangle.svg');
    background-size: cover;
    width: 877px;
    height: 877px;
    position: absolute;
    right: -210px;
    z-index: 0;
}

.footer {
    background-color: #1f1f1f;
    color: #fff;
    padding-top: 60px;
    padding-bottom: 40px;
}

.footer__columns {
    display: flex;
    width: 90%;
    min-height: 200px;
    margin: auto;
    justify-content: space-between;
}

.footer__column:first-of-type {
    flex-basis: 711px;
    display: flex;
    justify-content: space-between;
}

.footer__column {
    display: flex;
    flex-direction: column;
}

.logo_place_footer {
    background-image: url('../images/logo_place_footer.svg');
}

.footer__author {
    line-height: 25px;
    font-size: 18px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.footer__column-heading {
    margin-bottom: 20px;
}

.footer__column-links {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    line-height: 30px;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

.footer__social-icons {
    margin-right: 10px;
}
